@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
  --primary: #52b361;
  --primaryForeground: #ffffff;
  --section: #f7f7f8;
  --inactive: #a9adb2;
  --tabIndicator: #212121;
  --subtitle: #6f7071;
  --danger: #f50000;
  --skeleton: #ebedef;

  --zaui-light-button-primary-background: var(--primary);
  --zaui-light-button-primary-text: var(--primaryForeground);
  --zaui-light-button-secondary-background: #d1f0db;
  --zaui-light-button-secondary-text: #135328;
  --zaui-light-button-tertiary-text: var(--foreground);

  --safe-top: var(--zaui-safe-area-inset-top, env(safe-area-inset-top, 30px));
  --safe-bottom: max(
    16px,
    var(--zaui-safe-area-inset-bottom, env(safe-area-inset-bottom, 30px))
  );
}
